baseurl = "/"
languageCode = "en-us"
title = "A Hugo website"
theme = "hugo-lithium-refs"
googleAnalytics = ""
disqusShortname = ""
ignoreFiles = ["\\.Rmd$", "\\.Rmarkdown$", "_cache$", "\\.knit\\.md$", "\\.utf8\\.md$"]

[permalinks]
    post = "/:year/:month/:day/:slug/"

[[menu.main]]
    name = "Figure Dictionary"
    url = "/figure-dictionary/"
    title = "icons/grid_view_FILL0_wght400_GRAD0_opsz48.svg"
    # the above is NOT best practice. As of hugo 0.79, there is the option to specify menu parameters for custom values
[[menu.main]]
    name = "Search"
    url = "/#/"
    identifier = "menu-search"
    title = "icons/search_FILL0_wght400_GRAD0_opsz48.svg"

[params]
    description = "A website built through Hugo and blogdown."

    # options for highlight.js (version, additional languages, and theme)
    highlightjsVersion = "9.12.0"
    highlightjsCDN = "//cdnjs.cloudflare.com/ajax/libs"
    highlightjsLang = ["r", "yaml"]
    highlightjsTheme = "github"

    MathJaxCDN = "//cdnjs.cloudflare.com/ajax/libs"
    MathJaxVersion = "2.7.5"

    # path to the favicon, under "static"
    favicon = "favicon.ico"

    [params.logo]
    url = "icons/home_FILL0_wght400_GRAD0_opsz48.svg"
    width = 50
    height = 50
    alt = "Logo"

[markup]
  defaultMarkdownHandler = "goldmark"
  [markup.goldmark.renderer]
    unsafe = true  # Enable user to embed HTML snippets in Markdown content.

[outputs]
    home = ["HTML", "JSON"]
