<nav class="nav menu">
  <a href="{{ "/" | relURL }}" class="nav-logo">
    <img src="{{ print "" .Site.Params.logo.url | relURL }}"
         width="{{ .Site.Params.logo.width }}"
         height="{{ .Site.Params.logo.height }}"
         alt="{{ .Site.Params.logo.alt }}">
  </a>

  <ul class="nav-links">
    {{ range .Site.Menus.main }}

    <li{{ with .Identifier }} id="{{ . }}"{{ end }}>
      <a href="{{ .URL }}">
        <img src="{{ with .Title }}{{ . | relURL }}{{ end }}" width="50px" height="50px">
        <!-- {{ .Name }} -->
      </a>
    </li>
    {{ end }}
  </ul>
</nav>